<h4><%= link_to comment.author.username, comment_url(comment
		) %></h4><p> <%= comment.created_at %>
<p><%= comment.content %></p>
<ul>
	<% @comments_by_parent[comment.id].each do |rep| %>
		<%= render 'comments/comment', comment: rep %>
	<% end %>
</ul>
