<h1>Sign Up</h1>
<form action="<%= users_url %>" method="post" accept-charset="utf-8">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token  %>">
	<input  name="user[username]" placeholder="Username">
	<input  name="user[password]" placeholder="Password" type="password">
	<button>Submit</button>
</form>
<%= @user.errors.messages %>